.body {
width: 320px;
font-family: 'TT Lakes';

}

.header__menu-logo {
width: 60px;
height: 24px;
}

.header__menu-menu, .header__menu-settings, .header__menu-search{
width: 24px;
}

.header__menu {
padding: 0 22px;
margin-top: 30px;

}
	
.menu__uslugi {
width: 320px;
display: flex;
gap: 20px;
padding-left: 16px;
overflow: scroll;
}

.description-photo  {
width: 320px;
}

.description-text {
padding-left: 16px;
padding-right: 16px;
font-family: 'TT Lakes';
}

.description-next {
padding-left: 16px;
}

.menu__h1 {
width: 320px;
padding-left: 16px;
padding-top: 24px;
}

.header {
display: flex;
justify-content: space-between;
}

.header-h1 {
font-size: 0;
visibility: hidden;
}



@media (min-width: 768px) {

.body {
width: 768px;
}
	
.menu__uslugi {
width: 768px;
display: flex;
gap: 10px;
padding-left: 16px;
overflow: auto;
}

.image__photo  {
width: 360px;
height: 259px;
margin-right: auto;
}


.description {
display: flex;
}
.header {
display: flex;
}

.header-img {
display: flex;
justify-content: space-between;}

.header__menu {
padding: 0 80px;
margin-top: 30px;

}

.description-photo {
padding-top: 20px;
}


}

@media (min-width: 1120px) {

.body {
width: 1120px;
}

.header-img {
display: flex;
justify-content: space-between;
}

.header-h1 {
font-size: 16px;
visibility: visible;
padding-left: 20px;
}
.header__menu {
padding: 0 40px;
margin-top: 30px;
}

.menu__h1 {
display: none;
}

.description-photo  {
width: 530px;
}

.header {
margin-top: 10px;
margin-bottom: 30px;
}

.menu__uslugi {
width: 1120px;
display: flex;
gap: 10px;
padding-left: 16px;
overflow: auto;
flex-wrap: wrap-reverse;
justify-content: space-between;
}
}